





<h1>Categories</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">title</th>
            <th style="width: 30%">edit</th>
            <th style="width: 30%">delete</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories" class="collection">
            <td>{{category.title}}</td>
           
            <td style="white-space: nowrap">
                <button (click)="editItem($event, category)" class="btn btn-sm btn-primary mr-1">Edit</button>
                </td>
                <td>
                <button  (click)="deleteItem($event, category)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="category.isDeleting">
                    <span *ngIf="category.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!category.isDeleting">Delete</span>
                </button>
            </td>
             
    <div *ngIf="editState && itemToEdit.id == category.id">
      <form (ngSubmit)="updateItem(category)">
          <div class="row">
              <div class="input-field col s6">
                <input type="text" placeholder="Add Title" [(ngModel)]="category.title" name="title">
              </div>
             
              <input type="submit" value="Update Item" class="btn orange">
            </div>
      </form>
    </div>
        </tr>
        
        <tr *ngIf="!categories">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table> 


 <div>
  <button (click)="OpenDialog('1000ms','500ms','')"  mat-raised-button color="primary" >Add New</button>
 </div>

