



<div class="main">
  <h1> Books</h1>
  <p>“Two things are infinite: the universe and human stupidity; and I'm not sure about the universe.”</p>
<p>Dr. Don Schoendorfer spent many years pursuing his vision of success, but one trip to Africa changed his life forever. The heartbreaking sights he witnessed on the streets of Morocco sent him on an unexpected path of faith, despair, and, ultimately, newfound purpose.

Miracle Wheels is the compelling account of Don's journey, from his humble beginnings in the Midwest to his innovative work in the biomedical field, culminating in the founding of a nonprofit organization that has served millions around the world. 

About Miracle Wheels


Laced with humor while tempered by life's sobering realities, including family hardships, Don's story leads you on an emotional exploration that spans the globe and intersects with world leaders as he strives to overcome challenges and serve some of the most vulnerable among us: people living with disabilities in developing countries.

</p>
</div>
